.row {
  width:80%; 
  background-color:var(--color-row-table); 
  cursor:pointer; 
}
.row > td {
  text-align:center; 
  padding:20px; 
  border-bottom:1px solid #000; 
}

.row:hover{
  background-color:#F6CD61; 
}

.roudedCellLeft {
  border-top-left-radius:5px; 
  border-bottom-left-radius:5px ; 
}