.row {
  width:80%; 
  background-color:var(--color-row-table); 
  border:10px solid black; 
  border-radius:5px; 
  cursor:pointer; 
}
.row > td {
  text-align:center; 
  padding:20px; 
}

.row:hover{
  background-color:#F6CD61; 
}