.infoContainer{
  display:flex; 
  width:100%; 
  justify-content:center; 
  text-align:center; 
  align-items:center; 
  flex-wrap:wrap; 
  margin-top:2rem; 
  min-width:500px; 
  font-size:1.3rem; 
  gap:1.5rem;
 
}

.info{
  display:flex; 
  flex-direction:column; 
  justify-content:space-around;
  background-color:#fff; 
  padding:1rem; 
  border-radius:20px;
  min-width:300px; 
  min-height:150px;  
  cursor:pointer; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.info:hover{
  background-color:skyblue;
  color:#fff;  
}
.info:hover  img{
  filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(274deg) brightness(115%) contrast(101%);
}
.top{
  display:flex; 
  flex-direction:row; 
  justify-content:space-evenly; 
  align-items:center; 
  text-align:center; 
}
.infoLogo img{
  min-width:3rem; 
  min-height:3rem; 
}
.count{
  font-size:2rem; 
}

.infoContainer a {
  color:inherit; 
  
}