@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

html,
body,
.app{
  height:100%;
  width:100%;
  font-family:"Montserrat",sans-serif;
  margin:0;
  padding:0;
  background-color:var(--color-background);
}

a{
  text-decoration:none;
}
:root{
  --color-error-input:#e74c3c; 
  --color-success-input:#2ecc71;
  --color-login-btn:#27A327; 
  --color-nav-text:#edf0f1;
  --color-nav:#1b2430;
  --color-nav-hover:#0088A9;
  --color-background:#fff;
  --color-white : #FFFFFF;
  --color-blue: #77A6F7;
  --color-pink: #FFCCBC;
  --color-green:#00887A;
  --color-light-blue:#D3E3FC;
  --color-black:#5F6366;
  --color-grey : #86B3D1;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
