.skewed {
  display: flex;
  justify-content:space-around; 
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0rem auto;
  padding:2rem; 
  background-color:rgb(111, 210, 234);
  color: var(--color-div-text);
}

.skewed-left{
  background-color:#fff ;  
}
.text {
  width:60%;
  color:#fff; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-around; 
}
.text h1 {
  margin: 0;
  padding: 0;
}

.image {
  display: flex; 
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image >img  {
  height:15rem; 
  display: block;
  object-fit: contain;
  padding-top:1rem; 
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap; 
}

.links>a {
  color: white;
  font-size: 1.3rem;
  padding-bottom:1rem;
}

.everything a {
  color:#fff;
  text-decoration: none;
}

.skewed-left .text {
  width: 60%;
}


.links {
  color: var(--color-div-text);
}

.apply_btn {
  color:#fff; 
  font-size: 1.3rem;
  cursor: pointer;
  padding: .3em 1em;
  font-weight: bold;
  border: none;
}

.apply_btn>a {
  color: #000;
}

.apply_btn {

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%)-100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

.apply_btn:hover {
  --_p: 100%;
  transition: background-position.4s, background-size 0s;
}

.apply_btn:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
}

.skewed-left a,
.skewed-left .text,
.skewed-left button {
  color:black; 
}