.sideBarContainer  img { 
  width:1.5rem;
  height:1.5rem; 
}
.sideBarContainer {
  display:flex; 
}
main{
  width:100%; 
  padding:20px;  
}
.sidebar{
  background:#000; 
  color:#fff; 
  height:100vh; 
}

.topSection{
  display:flex; 
  align-items:center; 
  padding:20px 15px; 
}

.logo{
  font-size:25px; 
  color:#fff; 
}

.bars{
  display:flex;
  font-size:25px; 
  margin-left:30px; 
}
.link{
  display:flex; 
  color:#fff; 
  padding:10px 15px; 
}
.icon > img , .bars > img{
  filter: invert(93%) sepia(100%) saturate(1%) hue-rotate(322deg) brightness(107%) contrast(101%);
}