.appIdContainer{
  width:100%; 
  height:100vh ; 
  overflow:hidden; 
  contain:content; 
  background-color:#fff; 
}

.back{
  border:none; 
  background-color:inherit; 
  padding:1rem 0rem  1rem 1rem; 
}
.back img{
  background-color:#f3f3f3; 
  border-radius:15px; 
  height:25px; 
  width:25px; 
  padding:0.5rem; 
}
.appIdContainer hr{
  width:97%; 
  margin:0 auto ; 
}
.appHeading{
  display:flex; 
  align-items:center; 
  gap:2rem ;
  font-size:1.1rem; 
  background-color:#87CEED; 
  flex-wrap:wrap; 
}
.appHeading p{
  margin:0; 
  padding:0; 
}
.statusContainer , .volunteerContainer{
  display:flex; 
  gap:0.2rem;
  align-items:center; 
}

.status, .volunteerNotAssigned , .reportNan {
  padding:0.25rem 0.5rem !important;
  border-radius:25px; 
  color:white;  
}
.volunteerNotAssigned {
  background-color:red; 
}
.appBody{
  display:flex; 
  flex-direction:row ; 
  padding:1rem; 
  padding-top:0rem; 
}
.applicationDetails,.applicationDescription{
  width:45%; 
  display:flex; 
  flex-direction:column;  
  justify-content:flex-start; 
}
.applicationDetails p{
  margin:1rem; 
}
.reportContainer{
  background-color:#87CEED; 
  padding:0.5rem; 
  font-size:1.1rem; 
  display:flex; 
  gap:1rem; 
  text-align:center; 
  align-items:center; 
} 
.reportContainer p{
  margin:0; 
}
.reportNan{
  background-color:red; 
}
