.appIdContainer{
  width:100%; 
  height:100vh ; 
  overflow:hidden; 
  contain:content; 
  background-color:#fff; 
}


.appIdContainer hr{
  width:97%; 
  margin:0 auto ; 
}
.appHeading{
  display:flex; 
  align-items:center; 
  gap:2rem ;
  font-size:1.1rem; 
  background-color:#87CEED; 
  flex-wrap:wrap; 
}
.appHeading p{
  margin:0; 
  padding:0; 
}
.statusContainer , .volunteerContainer{
  display:flex; 
  gap:0.2rem;
  align-items:center; 
}

.status, .volunteerNotAssigned , .reportNan {
  padding:0.25rem 0.5rem !important;
  border-radius:25px; 
  color:white;  
}
.volunteerNotAssigned {
  background-color:red; 
}
.appBody{
  display:flex; 
  flex-direction:row ; 
  padding:1rem; 
  padding-top:0rem; 
}
.applicationDetails,.applicationDescription{
  width:45%; 
  display:flex; 
  flex-direction:column;  
  justify-content:flex-start; 
}
.applicationDetails p{
  margin:1rem; 
}
.reportContainer{
  background-color:#87CEED; 
  padding:0.5rem; 
  font-size:1.1rem; 
  display:flex; 
  gap:1rem; 
  text-align:center; 
  align-items:center; 
} 
.reportContainer p{
  margin:0; 
}
.reportNan{
  background-color:red; 
}

.assignBtn{
  margin-left:40px; 
  margin-bottom:1rem; 
  background-color:#87CEED; 
  border:1px solid #000; 
  font-size:1rem; 
  padding:0.25rem 0.5rem; 
  border-radius:25px; 
  cursor:pointer; 
  transition:transform ease-in 0.2s ; 
  color:#fff; 
  font-weight:bolder; 
}
.assignBtn:hover {
  transform:scale(1.1); 
}