.loginContainer {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.loginContainer form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  height: 90%;
  padding: 20px;
  margin-bottom:1rem; 
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.loginContainer form h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #222;
  padding: 1rem;
  background-color: #f7f7f7;
}

.loginContainer #email,
.loginContainer #password {
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding-left: 0.5rem;
  align-items: center;
}

.loginButton {
  margin-left: 50%;
  transform: translate(-50%);
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background: var(--color-login-btn);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  transition: .3s;
}
.loginButton:hover{
  background-color:var(--color-nav-hover); 
}

.loginContainer p a {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
}

.error{
  font-size:1rem; 
  color:red;
}

.passToggle{
  cursor:pointer; 
  text-decoration:none;  
}
