.navbar_container{
  background-color:var(--color-nav);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-left:2rem;
  padding-right:2rem;
}
li,a,button{
  color:var(--color-nav-text);
}

.nav__links li{
  display:inline-block;
  padding:0px 20px; 
}

.nav__links li a {
  transition: all 0.3s ease 0s; 
}

.nav__links li a:hover {
  transition: all 0.3s ease 0s; 
  color:var(--color-nav-hover);
}

.navbar_btn{
  padding:9px 25px; 
  background-color:rgba(0,136,169,1);
  border:none; 
  border-radius:50px; 
  cursor:pointer;
  transition:all 0.3 ease 0s;
}

.navbar_btn:hover{
  background-color:rgba(0,136,169,0.8);
}

.navbar_btn{
  font-weight:bolder;
}
#logo{
  cursor:pointer;
}