.register{
  margin:auto; 
  width:100%; 
  max-width:90%; 
  display:flex; 
  flex-direction:column; 
  box-sizing:border-box; 
  align-items:center; 
}

.register form{
  margin-top:2rem;
  margin-bottom:1rem; 
  width:45%; 
  height:90%;
  padding:20px;
  background:#fff; 
  border-radius:4px; 
  box-sizing:border-box; 
  box-shadow:0 2px 5px rgba(0,0,0,0.3); 
}

.register form h1{
  text-align:center;  
}
.formControl{
  margin-left:3rem;
  margin-bottom:0.5rem;
}
label{
  display:block;
  margin-bottom:5px; 
}
.register .input{
  margin:0.5rem 0 0.5rem 0; 
}

.error{
  display:block;
  
}

.formControl input{
  width:80%; 
  height:40px;
  background:#fff; 
  border-radius:4px; 
  border:1px solid silver;  
  padding-left: 0.5rem;
}

.register form h1{
  text-align:center; 
  margin-bottom:24px; 
  color:#222; 
  padding:1rem; 
  background-color:#f7f7f7;
}

.registerButton{
  margin-left:50%; 
  transform:translate(-50%); 
  width:120px; 
  height:34px; 
  border:none; 
  outline:none; 
  background:var(--color-login-btn); 
  cursor:pointer; 
  font-size:16px; 
  text-transform:uppercase;
  color:#fff; 
  border-radius:4px; 
  transition:.3s; 
}
.registerButton:hover{
  background-color:var(--color-nav-hover); 
}

.register p a {
  border:none; 
  font-size:1rem; 
  color:black; 
  cursor:pointer; 
  text-decoration:underline;
}

.exclamation,.circleCorrect{
  position:relative; 
  bottom:-8px; 
  width:1em; 
  height:1em; 
  margin-left:3rem;
  visibility:hidden;
}
.circleCorrect{
  filter: invert(67%) sepia(13%) saturate(2211%) hue-rotate(92deg) brightness(96%) contrast(87%);
}
.exclamation{
  left:-5rem; 
  filter: invert(44%) sepia(31%) saturate(5519%) hue-rotate(338deg) brightness(93%) contrast(94%);
}
.formControl.success input {
  border:2px solid; 
  border-color:var(--color-success-input);
   
}

.formControl.fail input{
  border:2px solid; 
  border-color:var(--color-error-input);
}

.formControl.success .circleCorrect{
  visibility:visible; 
}

.formControl.fail .exclamation{
  visibility:visible; 
}

.formControl.fail .error{
  visibility:visible; 
  color:var(--color-error-input); 
}

.radioBtns , .radioBtns > label{
  display:flex; 
  flex-direction: row;
  align-items:center; 
}
.radioBtns{
  width:80%;
}
.radioBtn{
  margin-right:0.5rem; 
  width:1rem !important;
  height:3rem !important;  
}
.radioBtns > label {
  margin-right:30%; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}